// sizes
$max-width: 1200px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// fonts
$font-primary: "Poppins", sans-serif;
$font-title: "Montserrat", sans-serif;

// colors
$color-palatine: #5c1f58;
$color-plum: #eab3e6;
$color-mountbatten: #b07a8e;
$color-pomp: #9f669d;
$color-amethyst: #9c4fdf;
$color-purple: #800080;
$color-phiox: #cc32f7;
$color-white: white;
$color-black: black;
$color-grey: #403c39;
$color-grey-love: #949494;
$color-grey-soft: rgb(#d0d0d2, 0.25);
